@MEDIA screen and (max-width: 767px) {
	input#sideMenuBtn {
		width: 20%;
	}
	div#mainHeader>a#mainLogo {
		left: 25%;
		top: 15%;
	}
}

@MEDIA screen and (min-width: 768px) and (max-width:959px) {
}

@MEDIA screen and (min-width: 960px) {
	div#mainHeader>a#mainLogo {
		left: 15%;
		top: 30%;
	}
}

html {
	margin: 0 auto;
}

div#mainHeader {
	position: relative;
}

div#mainHeader>input#sideMenuBtn {
	position: absolute;
	left: 3%;
	top: 20%;
}

div#mainHeader>a#mainLogo {
	position: absolute;
}