@MEDIA screen and (max-width: 767px) {
	div#mainHeader>img#sideMenuBtn {
		top: 10%;
	}
}

@MEDIA screen and (min-width: 768px) and (max-width:959px) {
}

@MEDIA screen and (min-width: 960px) {
	div#mainHeader>img#sideMenuBtn {
		top: 5%;
	}
}

html {
	margin: 0 auto;
}

div#mainHeader {
	position: relative;
}

div#mainHeader>img#sideMenuBtn {
	position: absolute;
}

div#mainHeader>a#logo {
	position: absolute;
	left: 13%;
	top: -20%;
}

/* side menu style start */
div#sideMenuDiv {
	position: absolute;
}
/* side menu style end */