@MEDIA screen and (max-width: 767px) {
	input#sideMenuBtn {
		padding: 0.5% 5% 0.5% 5%;
		width: 20%;
	}
	div#sideMenuDiv {
		width: 30%;
	}
}

@MEDIA screen and (min-width: 768px) and (max-width:959px) {
}

@MEDIA screen and (min-width: 960px) {
	div#sideMenuDiv {
		width: 20%;
	}
}

div#headerDiv {
	display: block;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}

input#sideMenuBtn {
	padding: 1% 5% 1% 5%;
}

div#sideMenuDiv {
	padding-top: 1%;
	padding-bottom: 100%;
}

ul#sideMenus {
	width: 100%;
	padding-left: 0%;
}

ul#sideMenus>li {
	text-align: left;
	width: 100%;
}