@IMPORT url("menu_layout.css");

@MEDIA screen and (max-width: 767px) {
	div#mainHeader {
		height: 30px;
	}
	img#sideMenuBtn {
		padding: 0.5% 5% 0.5% 5%;
	}
	div#mainHeader>a#logo img {
		width: 80%;
	}
	div#sideMenuDiv {
		width: 40%;
	}
}

@MEDIA screen and (min-width: 768px) and (max-width:959px) {
}

@MEDIA screen and (min-width: 960px) {
	html {
		width: 80%;
	}
	div#mainHeader {
		height: 40px;
	}
	img#sideMenuBtn {
		padding: 1% 5% 1% 5%;
	}
	div#sideMenuDiv {
		width: 20%;
	}
}

div#mainHeader {
	background-color: #828282;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	width: 100%;
}

img#sideMenuBtn {
	height: 60%;
	cursor: pointer;
}

a#logo>img {
	
}

/* side menu style start */
div#sideMenuDiv {
	display: none; 
	background-color : #bebebe;
	padding-bottom: 100%;
}

ul#sideMenus {
	list-style: none;
	text-align: center;
	padding-left: 0;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

ul#sideMenus>li {
	border-top-style: solid;
	border-top-width: thin;
	background-color: #828282;
}

ul#sideMenus>li a {
	text-decoration: none;
	color: black;
}
/* side menu style end */