@IMPORT url("menu_layout.css");

@MEDIA screen and (max-width: 767px) {
	header#mainHeader {
		height: 30px;
	}
	input#sideMenuBtn {
		padding: 0.5% 5% 0.5% 5%;
	}
}

@MEDIA screen and (min-width: 768px) and (max-width:959px) {
}

@MEDIA screen and (min-width: 960px) {
	html{
		width: 80%;
	}
	header#mainHeader {
		height: 40px;
	}
	input#sideMenuBtn {
		padding: 1% 5% 1% 5%;
	}
}

header#mainHeader{
	background-color: #828282;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	width: 100%;
}

section{
	background-color: #282828;
}

input#sideMenuBtn{
	background-image: url("../../img/menu/menu_btn_img.png");
	background-position: center;
	background-size: 100%;
	cursor: pointer;
}





section{
	background-color: blue;
}